# Ignore configuration files that may contain sensitive information.
wp-config.php
wp-content/uploads
wp-content/upgrade
wp-content/ai1wm-backups
wp-content/wpvividbackups
wp-content/WPvivid_Uploads/Isolate
wp-content/wpvivid_staging
wp-content/cache
wp-content/et-cache
wp-content/wflogs
.htaccess
.htaccess.bk
